.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    color: rgba(248, 250, 249, 0.959);
    margin-top: 15px;
}

.modal {
    display: inline;
} 
.img {
    width: 40%;
    float: left;
    border-radius: 10px;
    box-shadow: 20px;
}
.btn {
    color: rgba(18, 110, 9, 0.931);
    float : right;
    size: 10px;
    margin-top: 10px;
    cursor: pointer;
}

@media (max-width: 400px) {
    .main {
        grid-template-columns: 1fr 2fr;
    }
    .sidebar {
        margin-left: 5px;
    }
}