.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    color: rgba(248, 250, 249, 0.959);
    margin-top: 15px;
}

@media (max-width: 400px) {
    .main {
        grid-template-columns: 1fr 2fr;
    }
    .sidebar {
        margin-left: 5px;
    }
}