.items {
    display: block;
    margin: 8px;
    padding: 25px 30px;
    font-size: 20px;
    background-color: rgba(55, 29, 168, 0.959);
    text-align: center;
    border-radius: 2.3px;
}

.items:hover {
    background-color: rgba(231, 194, 29, 0.959);
    color: rgba(55, 29, 168, 0.959);
}