* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    background-image: linear-gradient(to right, white, rgb(218, 214, 214));
    height: 100vh;
}

.myheader {
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 80px;
    text-align: center;
    color: brown;
    background-image: linear-gradient(to left, yellow, purple);
    margin-bottom: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin: 15px;
    margin-left: 20%;
    border-radius: 20px;
}

.link {
    background-color: rgba(55, 29, 168, 0.959);
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 20px;
    margin: 10px;
    color: white;
}